# Carrierwave Amazon AWS S3 configuration
CarrierWave.configure do |config|
  config.storage = :fog
  config.fog_credentials = {
      :provider               => 'AWS',
      :aws_access_key_id      => '',
      :aws_secret_access_key  => '',
      :region                 => ''
  }
  config.fog_public     = true
  config.fog_attributes = {'Cache-Control'=>'max-age=315576000'}
  config.cache_dir = "#{Rails.root}/tmp/uploads"
  config.fog_directory  = ''
  config.asset_host     =  '<<something_here>>.s3.amazonaws.com'
end
